
@model GF.Data.Model.Funcionario
@{
    ViewBag.Title = "Novo Funcionário";
}

@using (Html.BeginForm())
{
    <div class="wrapper wrapper-content">
        @if (TempData["popup-sucess"] != null)
        {
            <div class="alert alert-success">
                @TempData["popup-sucess"]
            </div>
        }
        @if (TempData["popup-alert"] != null)
        {
            <div class="alert alert-warning">
                @TempData["popup-alert"]
            </div>
        }
        @if (TempData["popup-error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["popup-error"]
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title<small></small></h5>
                        <div class="ibox-tools">
                            <a href="@Url.Action("Index","Funcionario")"><i class="fa fa-arrow-left btn btn-default" style=""></i></a>
                            <button type="submit" class="fa fa-save btn btn-success"></button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: left;">
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="ibox-content" style="">
                        <div class="ibox float-e-margins">
                            @Html.AntiForgeryToken()
                            <div class="example-wrap m-xl-0">
                                <div class="nav-tabs-horizontal" data-plugin="tabs">
                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                        <li class="nav-item active" role="presentation">
                                            <a class="nav-link active" data-toggle="tab" href="#principal" aria-controls="exampleTabsLineOne" aria-expanded="true" role="tab">Principal</a>
                                        </li>

                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-toggle="tab" href="#historico" aria-controls="exampleTabsLineTwo" role="tab">Dados Complementares</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-20">
                                        <!--===================================================================================================================================================================================-->
                                        <!-- Aba Principal -->
                                        <div class="tab-pane active" id="principal" role="tabpanel">
                                            <!-- campos -->


                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Nome, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Nome, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.NomeCurto, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.NomeCurto, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Email, new { @class = "sr-only-focusable" })<span style="color:red"> *</span>
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Login, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Login, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Senha, new { @class = "sr-only-focusable" })<span style="color:red"> *</span>
                                                    <div class="">
                                                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Pertence aos perfis:</label>
                                                    <div class="col-sm-8">
                                                        @foreach (var item in ViewBag.RoleId)
                                                        {<div class="col-md-4">
                                                                <input type="checkbox" name="SelectedRoles" value="@item.Value" checked="@item.Selected" class="i-checks col-md-4" />
                                                                @{string Texto = item.Value;}
                                                                @Html.Label(Texto, new { @class = "control-label" })
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <!---->

                                        </div>

                                        <!--===================================================================================================================================================================================-->
                                        <!-- Aba dados complementares -->
                                        <div class="tab-pane" id="historico" role="tabpanel">

                                            <!-- campos -->

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.CPF, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.CPF, new { htmlAttributes = new { @class = "form-control cpf", data_plugin = "formatter" } })
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Telefone_Celular, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Telefone_Celular, new { htmlAttributes = new { @class = "form-control phone_with_ddd", data_plugin = "formatter" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Cargo, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Cargo, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.CTPS, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.CTPS, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class='form-group col-md-4'>
                                                    <label class="sr-only-focusable">Data Nascimento</label><span style="color:red"> *</span>
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        @Html.TextBoxFor(model => model.Pessoa.DataNascimento, new { @class = "form-control" })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Salario, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        
                                                        @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control money", data_plugin = "formatter" } })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Telefone_Fixo, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Telefone_Fixo, new { htmlAttributes = new { @class = "form-control phone_with_ddd", data_plugin = "formatter" } })
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Rua, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Rua, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Bairro, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Bairro, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Cidade, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Cidade, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.CEP, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        
                                                        @Html.EditorFor(model => model.Pessoa.CEP, new { htmlAttributes = new { @class = "form-control cep", data_plugin = "formatter" } })
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Pessoa.Identidade, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Pessoa.Identidade, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>







                                            <!---->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    
    <script>
        $(document).ready(function () {

            
            //$('#datetimepicker1').mask('?99/99/9999', { reverse: true });

            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY'
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        }
        )
    </script>

}
