@model GenericSearch.UI.Models.SearchViewModel
@{
    ViewBag.Title = "Funcionários";
}
<div class="wrapper wrapper-content">
    @if (TempData["popup-sucess"] != null)
    {
        <div class="alert alert-success">
            @TempData["popup-sucess"]
        </div>
    }
    @if (TempData["popup-alert"] != null)
    {
        <div class="alert alert-warning">
            @TempData["popup-alert"]
        </div>
    }
    @if (TempData["popup-error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["popup-error"]
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title<small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-filter btn btn-default" id="showfilter"></i>
                        </a>
                        <a href="@Url.Action("create","Funcionario")"><i class="fa fa-plus-square-o btn btn-primary" style=""></i></a>
                    </div>
                </div>

                <div class="ibox-filter ibox-content">
                    @using (Html.BeginForm("index", "Funcionario", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorFor(model => model.SearchCriteria)
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-3">
                        <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                        <a href='@Url.Action("NoFilter")' type="" class="btn btn-default">Limpar Filtros</a>
                    </div>
                </div>
            </div>
}
                </div>
                <div class="ibox-content" style="">
                    <div class="table-responsive">

                        <div class="ibox float-e-margins">
                            <table class="table table-striped table-bordered table-hover datatables-example datatable dtr-inline" id="datatable">
                                <thead>
                                    <tr>
                                        <th>Login</th>
                                        <th>Nome</th>
                                        <th>CPF</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@section scripts {
<script>
    $(document).ready(function () {
        var table = $('#datatable').dataTable({
            "bServerSide": true,
            "language": { "url": "../Scripts/plugins/dataTables/dataTables.brazilian.lang.js" },
            "sAjaxSource": "@Url.Action("GetAjaxData", "Funcionario")",
            "sServerMethod": "POST",
            "bProcessing": true,
            "bServerSide": true,
            "buttons": [{ extend: 'copy', text: 'Copiar' }, 'excel', 'pdf'],
            "dom": '<"row"<"col-sm-12"tr>>' + '<"row"<"col-sm-2 text-primary"p><"pagination col-sm-4"i><"row pagination col-sm-6 text-primary"l>>',
            "stateSave": true,
            "aoColumns": [


								{ "title": "Login", "defaultContent": " ", "data": "Login", "width": "20%" },


								{ "title": "Nome", "defaultContent": " ", "data": "Pessoa.Nome", "width": "20%" },


								{ "title": "CPF", "defaultContent": " ", "data": "Pessoa.CPF", "width": "15%" },


                                { "title": "Email", "defaultContent": " ", "data": "Email", "width": "15%" },

                                {
                                    "title": "Status", "defaultContent": " ", "data": "Excluido", "render": function (data, type, full, meta) {
                                        if (data == "I") {
                                            return "Inativo";
                                        } else {
                                            return "Ativo";
                                        }

                                    }, "width": "10%"
                                },

                                { "title": "", "bSortable": false, "data": "ID", "width": "15%", "render": function (data, type, full, meta) { return "<a title='Editar' href = '@(Url.Action("Edit"))/" + data + "'><i class='fa fa-pencil btn btn-default'></i></a> <a title='Alterar Senha' href = '@(Url.Action("AlterarSenha"))/" + data + "'><i class='fa fa-user-md btn btn-default'></i></a> <a title='Apagar' href = '@(Url.Action("Delete"))/" + data + "'><i class='fa fa-times btn btn-danger'></i></a>"; } }


						]
			});
		var filtervisible = store.get('FilterVisible')
        if (filtervisible == "nao") {
            $("div.ibox-filter").hide();
            $("#showfilter").toggleClass('btn-default').toggleClass('btn-outline');
        }
        $("#showfilter").click(function ()
        {
            if (store.get('FilterVisible') == "sim") { store.set('FilterVisible', 'nao'); } else { store.set('FilterVisible', 'sim') }
        });
    });

    function Edit(e)
    {
        var Id = e.data.record.Id;
        var url = "/Funcionario/Edit/" + Id;
        window.location.href = url;
    }
</script>
}
@section AditionalJS {
    @Scripts.Render("~/plugins/datatables")
}

