@model GF.Data.Model.Funcionario
@{
    ViewBag.Title = "Login";
}

<div class="container entrance-container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12">
            <h1 align="center" style="color:white">Responsabilidade Solidária <br /> SARS</h1>
            <div class="well bs-component">
                @if (TempData["popup-sucess"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["popup-sucess"]
                    </div>
                }
                @if (TempData["popup-alert"] != null)
                {
                    <div class="alert alert-warning">
                        @TempData["popup-alert"]
                    </div>
                }
                @if (TempData["popup-error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["popup-error"]
                    </div>
                }
                <form id="LoginForm" class="form-horizontal" action="@(Url.Action("Login", "Funcionario"))" method="POST">
                    <fieldset>
                        <legend>Acessar Sistema</legend>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        
                        <div class="form-group">

                            <div class="col-lg-12">
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @required = "required", @placeholder = "Login ou E-Mail" })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-lg-12">
                                @Html.PasswordFor(model => model.Senha, new { @class = "form-control", @required = "required", @placeholder = "Senha" })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button id="LoginButton" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @("LogIn")</button>
                                <!--<a class="btn btn-success" href="@Url.Action("Register")"><i class="fa fa-sign-in"></i> @("Register")</a>-->
                            </div>
                        </div>
                    </fieldset>
                </form>
                
                
            </div>
            
            <p id="TenantCreateHint" class="text-muted">
                <small></small>
            </p>
        </div>
    </div>
</div>