@model GenericSearch.UI.Models.SearchViewModel
@{
    ViewBag.Title = "Relatório de Frequência";
}

<div class="modal" id="modal" data-backdrop="static"></div>


<div class="wrapper wrapper-content">
    @if (TempData["popup-sucess"] != null)
    {
        <div class="alert alert-success">
            @TempData["popup-sucess"]
        </div>
    }
    @if (TempData["popup-alert"] != null)
    {
        <div class="alert alert-warning">
            @TempData["popup-alert"]
        </div>
    }
    @if (TempData["popup-error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["popup-error"]
        </div>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title<small></small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-filter btn btn-default" id="showfilter"></i>
                        </a>

                        

                    </div>
                </div>

                <div class="ibox-filter ibox-content">
                    @using (Html.BeginForm("index", "RelatorioFrequencia", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.EditorFor(model => model.SearchCriteria)
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button type="submit" class="btn btn-primary">Aplicar Filtros</button>
                                    <a href='@Url.Action("NoFilter")' type="" class="btn btn-default">Limpar Filtros</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <div class="ibox-content" style="">
                    <div class="table-responsive">
                        <div class="ibox float-e-margins">
                            <table class="table table-striped table-bordered table-hover datatables-example datatable dtr-inline" id="datatable">
                                <thead>
                                    <tr>
                                        <th>Aluno</th>
                                        <th>Responsável</th>
                                        <th>Prof. + Aulas</th>
                                        <th>Qtd. + Aulas</th>
                                        <th>Aulas Realizadas</th>
                                        <th>Aulas Previstas</th>
                                        <th>Frequência</th>


                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@section scripts {
<script>
    $(function () {
        $(".encaminhar").click(function () {
            $("#modal").load("Encaminhar", function () {
                $("#modal").modal();
            })
        });

    })

        $(document).ready(function () {
            
            $("#SearchCriteria_0__Comparator").find('option').remove();
            cb = '';
            cb += '<option selected="selected" value="5">entre</option>';
            $("#SearchCriteria_0__Comparator").append(cb);


            function addRequestVerificationToken(data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
        




            var table = $('#datatable').dataTable({
                "bServerSide": true,
                "language": { "url": "../Scripts/plugins/dataTables/dataTables.brazilian.lang.js" },
                "sAjaxSource": "@Url.Action("GetAjaxData", "RelatorioFrequencia")",
                "sServerMethod": "POST",
                "bProcessing": true,
                "bServerSide": true,
                "buttons": [{ extend: 'copy', text: 'Copiar' }, 'excel', 'pdf'],
                "dom": '<"row"<"col-sm-12"tr>>' + '<"row"<"col-sm-2 text-primary"p><"pagination col-sm-4"i><"row pagination col-sm-6 text-primary"l>>',
                "stateSave": true,
                "aoColumns": [

                    { "title": "Aluno", "defaultContent": " ", "data": "Aluno" },
                    { "title": "Responsável", "defaultContent": " ", "data": "ProfessorResponsavel" },
                    { "title": "Prof. + Aulas", "defaultContent": " ", "data": "FuncionarioTop"},
                    { "title": "Qtd. + Aulas", "defaultContent": " ", "data": "qtdFuncionarioTop"},
                    { "title": "Aulas Realizadas", "defaultContent": " ", "data": "AulasRealizadas" },
                    { "title": "Aulas Previstas", "defaultContent": " ", "data": "AulasPrevistas" },
                    { "title": "Frequência", "defaultContent": " ", "data": "Frequencia"},
                    
                    
                    


						    ]
			    });
		    var filtervisible = store.get('FilterVisible')
            if (filtervisible == "nao") {
                $("div.ibox-filter").hide();
                $("#showfilter").toggleClass('btn-default').toggleClass('btn-outline');
            }
            $("#showfilter").click(function ()
            {
                if (store.get('FilterVisible') == "sim") { store.set('FilterVisible', 'nao'); } else { store.set('FilterVisible', 'sim') }
            });
    });

    function Edit(e)
    {
        var Id = e.data.record.Id;
        var url = "/RelatorioFrequencia/EditReceita/" + Id;
        window.location.href = url;
    }
</script>
}
@section AditionalJS {
    @Scripts.Render("~/plugins/datatables")
}

