﻿@model GenericSearch.Core.DateSearch
@{
    string LW = "col-sm-" + Model.LabelWidth.ToString();
    string OW = "col-sm-" + Model.OperatorWidth.ToString();
    string FW = "col-sm-" + Model.FieldWidth.ToString();
    string W = "col-sm-" + (Model.FieldWidth + Model.OperatorWidth + Model.LabelWidth).ToString();
    string mid = Model.Property + "__";
    string midFunc = "daterange('"+mid+"',value)";
}
<div class="form-group @W">
    <div class="control-label @LW">
        @Html.LabelFor(m => m.SearchTerm, this.Model.LabelText, new { @class = "control-label", Locate = mid })
    </div>
    
        @if (Model.DisplayOperator)
        {
            <div class="@OW">
                @Html.EnumDropDownListFor(m => m.Comparator, new { @class = "form-control dateSelect", onchange = midFunc })
           </div>
        }

    <div class="@FW form-inline">
        <div class="input-group date ">
            <span class="input-group-addon">
                <i class="fa fa-calendar">
                </i>
            </span>
            @Html.TextBoxFor(m => m.SearchTerm, Model.SearchTerm == null ? "" : Model.SearchTerm.ToString().Substring(0, 10), new { @class = "form-control datepicker" })
        </div>



        @if (this.Model.Comparator == GenericSearch.Core.DateComparators.InRange)
        {
            <div class="input-group date " id='@mid'>
                <span class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </span>
                @Html.TextBoxFor(m => m.SearchTerm2, Model.SearchTerm2 == null ? "" : Model.SearchTerm2.ToString().Substring(0, 10), new { @class = "form-control datepicker" })
            </div>
        }
        else
        {
            <div class="input-group date" style="display: none;" id='@mid' >
                <span class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </span>
                @Html.TextBoxFor(m => m.SearchTerm2, Model.SearchTerm2==null?"":Model.SearchTerm2.ToString().Substring(0, 10), new { @class = "form-control datepicker", @style = "display: inherit;"})
            </div>
        }
    </div>
    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>


    

