﻿@model GenericSearch.Core.NumericSearch
@{
    string LW = "col-sm-" + Model.LabelWidth.ToString();
    string OW = "col-sm-" + Model.OperatorWidth.ToString();
    string FW = "col-sm-" + Model.FieldWidth.ToString();
    string W = "col-sm-" + (Model.FieldWidth + Model.OperatorWidth + Model.LabelWidth).ToString();
    
}

<div class="form-group @W">
    <div class="@LW control-label">
        @Html.LabelFor(m => m.SearchTerm, this.Model.LabelText, new { })
    </div>
    
        @if (!Model.Lookup)
        {
            <div class="@OW">
                @Html.EnumDropDownListFor(m => m.Comparator, new { @class = "form-control" })
            </div>
        }
    <div class="@FW">
        @if (Model.Lookup)
        {
            @Html.DropDownListFor(m => m.SearchTerm, Model.Items,"", new { @Class = "form-control" })
        }
        else
        {
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", type = "number" })
        }   
    </div>
    @Html.HiddenFor(m => m.Property)
    @Html.HiddenFor(m => m.TargetTypeName)
    @Html.Hidden("ModelTypeName", this.Model.GetType().AssemblyQualifiedName)
</div>
