﻿body {
    background-image: url(../Content/images/Academia01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.logo-area {
  text-align: center;
}
.logo-area h1 {
  color: white;
}
.entrance-container > .row {
  max-width: 400px;
  margin: 40px auto 10px auto;
  background-color: black;
  opacity: 0.9;
  border-radius: 10px;
}
#TenantCreateHint {
  margin-top: 10px;
}
/*# sourceMappingURL=Layout.css.map */