﻿@model GF.Data.Model.Funcionario
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SARS</h1>
    <p class="lead">Responsabilidade Solidária</p>

</div>

<div class="row">

</div>