@model GF.Data.Model.Grupo
@{
    ViewBag.Title = "Apagar Grupo";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
					<div class="ibox-tools">
					@using (Html.BeginForm()) 
						{
								@Html.AntiForgeryToken()
								<div class="form-actions no-color">
                                    <a href="@Url.Action("Index","Grupo")"><i class="fa fa-arrow-left btn btn-default" style=""></i></a>
									<button type="submit" class="fa fa-times btn btn-danger"></button>
								</div>
						}
						
                    </div>
                </div>
					<div class="ibox-content" style=" height:80vh">
                        
					<h4 class="text-danger">Tem certeza que quer apagar este Grupo?</h4> 
					<dl class="dl-horizontal">

											
								<dt>@Html.DisplayNameFor(model => model.Nome)</dt>
								<dd>@Html.DisplayFor(model => model.Nome)	</dd>	
							
							
					</dl>
						@using (Html.BeginForm()) 
						{
								@Html.AntiForgeryToken()
								<div class="form-actions no-color">
									<input type="submit" value="apagar" class="btn btn-primary" />  
									@Html.ActionLink("Voltar para Listagem", "Index", null, new { @class = "btn btn-white"})
								</div>
						}
					</div>
			</div>
		</div>
	</div>
</div>
