
@model GF.Data.Model.Grupo

@{
    ViewBag.Title = "Editar Grupo";
}

@using (Html.BeginForm())
{
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewBag.Title<small></small></h5>
                    <div class="ibox-tools">
					    <a href="@Url.Action("delete", new {Id = Model.Id })"><i class="fa fa-times btn btn-danger" style=""></i></a>
                        <a href="@Url.Action("Index","Grupo")"><i class="fa fa-arrow-left btn btn-default" style=""></i></a>
                        <button type="submit" class="fa fa-save btn btn-success"></button>
                    </div>
                </div>
                <div class="ibox-content" style=" height:80vh">
                    <div class="ibox float-e-margins">
                        
                            @Html.AntiForgeryToken()
                            <div class="">
                                @Html.ValidationSummary(true)
		
									 @Html.HiddenFor(model => model.Id)
   		
	   										<div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.Nome, new { @class = "sr-only-focusable" })
                                        <div class="">
                                            @Html.EditorFor(model => model.Nome, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Nome)
                                        </div>
                                    </div>
								</div> 
	  
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>
}

@section scripts {
<script>
    $(document).ready(function () {

      
            
     });
   

</script>
    }


