﻿
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-top-links navbar-right">
        <li>
            <!--@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })-->
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right">
        <li>Funcionário não Logado</li>   
    </ul>
}
