﻿
@using Application.Helpers.Html
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="@Url.Action("","Manage")">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    @User.Identity.Name
                                </strong>
                            </span>
                        </span>
                    </a>

                </div>
                <div class="logo-element">
                    <a href="@Url.Action("index","manage")">GF</a>
                </div>
            </li>


            
            <li class="@Html.IsSelected(controller: "Home")"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
            
            <li>
                <a href="#"><i class="fa fa-plus-square-o"></i> <span class="fa arrow"></span><span class="nav-label">Cadastro</span></a>
                <ul class="nav nav-second-level" id="side-menu2">
                    <li class="@Html.IsSelected(controller: "Funcionario",action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Funcionario")"><i class="fa fa-user"></i> <span class="nav-label">Funcionários</span> </a>
                    <li class="@Html.IsSelected(controller: "Plano",action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Plano")"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">Planos / Serviços</span> </a>
                    <li class="@Html.IsSelected(controller: "Aluno",action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Aluno")"><i class="fa fa-users"></i> <span class="nav-label">Alunos</span> </a>
                    <li class="@Html.IsSelected(controller: "Contrato",action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Contrato")"><i class="fa fa-file"></i> <span class="nav-label">Contratos</span> </a>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-spinner"></i> <span class="fa arrow"></span><span class="nav-label">Operações</span></a>
                <ul class="nav nav-second-level" id="side-menu4">

                    
                    <li class="@Html.IsSelected(controller: "RegistroAtividade",action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "RegistroAtividade")"><i class="fa fa-bolt" aria-hidden="true"></i> <span class="nav-label">Registro de Atividades</span> </a>
                </ul>
                <!-- /.nav-second-level -->
            </li>

           

            <li>
                <a href="#"><i class="fa fa-area-chart"></i> <span class="fa arrow"></span><span class="nav-label">Relatórios</span></a>
                <ul class="nav nav-second-level" id="side-menu4">
                    
                    <li class="@Html.IsSelected(controller: "RelatorioFrequencia", action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "RelatorioFrequencia")"><i class="fa fa-tasks"></i> Relatório de Frequência </a>
                    <li class="@Html.IsSelected(controller: "EntradaSaidaAlunos", action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "EntradaSaidaAlunos")"><i class="fa fa-line-chart"></i> Entrada e Saída de Alunos </a>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>



            <!--<li class="@Html.IsSelected(controller: "Grupo", action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Grupo")"><i class="fa fa-users"></i> <span class="nav-label">Grupos</span> </a>-->
            <li class="@Html.IsSelected(controller: "Sair", action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Index", "Tutorial")"><i class="glyphicon glyphicon-expand"></i> <span class="nav-label">Tutorial</span> </a>
            <li class="@Html.IsSelected(controller: "Sair", action: "Index-Edit-Create-Delete-Details")"><a href="@Url.Action("Sair", "Funcionario")"><i class="fa fa-sign-out"></i> <span class="nav-label">Sair</span> </a>
        </ul>

    </div>  
</nav>