﻿@model GF.Data.Model.RegistroAtividade
@{
    Layout = null;
    ViewBag.Title = "Escolher Professor e Data das Atividades";
}


<div class="modal-dialog modal-lg" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Escolher o Professor e Data das Atividades</h4>
        </div>
        <div class="modal-body">

            <div class="ibox-content" style="">
                <div class="ibox float-e-margins">

                    <div class="example-wrap m-xl-0">
                        <div class="nav-tabs-horizontal" data-plugin="tabs">

                            <div class="tab-content pt-20">
                                <!--===================================================================================================================================================================================-->
                                <!-- Aba Principal -->
                                <!-- -------------------------------------------------------------------------------------->
                                <div class="tab-pane active" id="principal" role="tabpanel">
                                    <!-- campos -->
                                    <div class="row">
                                        <div class="form-group col-md-10">
                                            @Html.LabelFor(model => model.Funcionario_ID, new { @class = "sr-only-focusable" })
                                            <div class="">
                                                @Html.DropDownListFor(model => model.Funcionario_ID, (SelectList)ViewBag._Funcionarios, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Funcionario_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            @Html.LabelFor(model => model.DataRegistro, new { @class = "sr-only-focusable" })
                                            <div class='input-group date' id='datetimepicker1'>
                                                @Html.TextBoxFor(model => model.DataRegistro, new { @class = "form-control" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancelar</button>
            <button type="button" id="addRow" class="btn btn-primary">Continuar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


@section scripts {

    <script>
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };

        $(document).ready(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            

            $(document).on('click', '#addRow', function () {
                if ($('#DataRegistro').val() == "") {
                    bootbox.alert({
                        message: "O campo Data de Registro deve é obrigatório.",
                        callback: function () {
                            return true;
                        }
                    })
                } else {
                    var data = $('#DataRegistro').val();
                    var arrayData = data.split("/");
                    var dataFinal = arrayData[1] + "/" + arrayData[0] + "/" + arrayData[2];

                    $(location).attr('href', 'Create?Funcionario_ID=' + $('#Funcionario_ID').val() + '&DataRegistro=' + dataFinal);
                }
                
                
            });

            


        });
    </script>

}