
@model GF.Data.Model.Plano_Servico
@{
    ViewBag.Title = "Novo Plano";
}

@using (Html.BeginForm())
{
    <div class="wrapper wrapper-content">
        @if (TempData["popup-sucess"] != null)
        {
            <div class="alert alert-success">
                @TempData["popup-sucess"]
            </div>
        }
        @if (TempData["popup-alert"] != null)
        {
            <div class="alert alert-warning">
                @TempData["popup-alert"]
            </div>
        }
        @if (TempData["popup-error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["popup-error"]
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>@ViewBag.Title<small></small></h5>
                        <div class="ibox-tools">
                            <a href="@Url.Action("Index","Plano")"><i class="fa fa-arrow-left btn btn-default" style=""></i></a>
                            <button type="submit" class="fa fa-save btn btn-success"></button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: left;">
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="ibox-content" style="">
                        <div class="ibox float-e-margins">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="example-wrap m-xl-0">
                                <div class="nav-tabs-horizontal" data-plugin="tabs">
                                    
                                    <div class="tab-content pt-20">
                                        <!--===================================================================================================================================================================================-->
                                        <!-- Aba Principal -->
                                        <div class="tab-pane active" id="principal" role="tabpanel">
                                            <!-- campos -->


                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Nome, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.EditorFor(model => model.Nome, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Valor, new { @class = "sr-only-focusable" })
                                                    <div class="">

                                                        @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control money", data_plugin = "formatter" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Periodo_ID, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.DropDownListFor(model => model.Periodo_ID, (SelectList)ViewBag._Periodo, new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Descricao, new { @class = "sr-only-focusable" })
                                                    <div class="">
                                                        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", style = "width:300px;height:150px", @maxlength = "2000" })


                                                    </div>
                                                </div>
                                                
                                            </div>




                                            <!---->

                                        </div>

                                       
                                        

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    
    <script>




        $(document).ready(function () {



        });
    </script>

}
